*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: black;
	color: #cccccc;
	font-family: 'Inter Variable', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.2;
}

.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
}

.app-main {
	display: flex;
	height: calc(100vh - 60px);
	width: 100vw;
	flex-direction: row;
	overflow: auto;
}

.app-header {
	display: flex;
	width: 100vw;
	height: 60px;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: -0.01rem;
	background: #fff;
	color: #000;
	box-sizing: border-box;
	align-items: center;
	min-height: 3.5rem;
	padding-left: 20px;
}

.svg-container {
	display: flex;
	flex: 1 1 auto;
	padding: 30px;
	background: #2d2d2dff;
	justify-content: center;
}

.svg-canvas {
	max-width: 100%;
	max-height: 100%;
	background: #070a3b;
}

svg {
	shape-rendering: auto;
	shape-rendering: crispEdges;
	shape-rendering: geometricPrecision;
	shape-rendering: optimizeSpeed;
}
